#over > section > h3 {
  margin: 16px 0;
}

/*Get player name input elem.*/
#playerName {
  outline: none;
  border: 2px solid rgba(219, 63, 61, 0.75);
  background-color: transparent;
  height: 34px;
  line-height: 34px;
  padding-left: 16px;
  width: 160px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}
