#start {
  overflow: hidden;
}

#start > section:first-child {
  animation: Article 2s ease-in-out;
  overflow: hidden;
}

/*Planet rotate.*/
#previewPlanet {
  width: 256px;
  height: 256px;
  position: absolute;
  right: -104px;
  bottom: -104px;
  animation: Rotate 10s linear infinite reverse;
  animation-delay: 1s;
  transform-origin: 152px 152px;
}

#previewImage {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 0;
  top: 0;
  animation: Rotate 5s linear infinite;
}

/*anim*/
@keyframes Article {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
